.body{
	background-color: #ccc;
}
.nav{
	background-color: #2F4056;
}
.left{
	width: 1054px;
    margin: 0 ;
    text-align: center;
    position: relative;
}
.middle{
	height: 440px;
	margin: 0 auto;
}
.center{
	width: 1054px;
	margin: 0 auto;
	padding: 30px;
	background-color: rgb(249, 249, 249);
}
.layui-carousel{
    position: relative;
    left: 50%;
    margin-left: -389px;
    top: 0;
    background-color: #f8f8f8;
}
/*时间线的位置*/
.layui-timeline {
    padding-left: 50px;
    padding-top: 50px;
}
/*时间线背景*/
/*.timeline{
	background-color: rgb(249, 249, 249);
}*/

/*底部栏开始*/
/*底部栏开始*/
.bottom{
	height: 170px;
	width: 100%;
	background-color: #2F4056;
	 /*padding-top: 50px; */
	 margin-top: 50px;
	 overflow: hidden;   /* 解决外边距塌陷的问题 */
}
.bottom-text{
	width: 100%;
	text-align: center;
	color: #fff;
    margin-top: 50px; 
}
.bottom-text a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	padding: 0 5px;
}
.bottom-text a:hover {
	color: #2288f6;
	text-decoration: underline;
}
.bottom p{
	margin-top: 32px;
	color: #888888;
	font-size: 14px;
	text-align: center;
}
/*底部栏结束*/
#testall{
	padding: 0 62px;
}
#test-n3{
	padding: 0px 50px;
}
/*时间选择页面的*/
.border-hhh
{
	height: 736px;
}